/*
Importing the font families
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/

/* @import url('https://fonts.googleapis.com/css?family=Nunito:400'); */
@font-face {
	font-family: "Nunito";
	src: local(Nunito Regular), url("../font/nunito/Nunito-Regular.ttf");
	src: url("../font/nunito/Nunito-Regular.ttf") format("truetype");
	font-weight: 400; 
}
@font-face {
	font-family: "Nunito";
	src: local(Nunito Light), url("../font/nunito/Nunito-Light.ttf");
	src: url("../font/nunito/Nunito-Light.ttf") format("truetype");
	font-weight: 300; 
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* -webkit-transform: translate3d(0,0,0); */
    overflow-x: hidden;
}
.fullheight {
    min-height: 100vh;
}
.bg {
    background: #fafafa !important;
    /* background: #fafafa url('../img/overlays/08-white.png') !important;	 */
    /* background: #fafafa url('../img/bg-mesh.png') fixed top no-repeat !important;	 */
    /* background-blend-mode: overlay; */
}
.bg-purpler {
    background: #41295a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg,#2F0743, #41295a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #2F0743 #41295a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #2F0743 #41295a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #2F0743 #41295a); /* Standard syntax */
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition:all 1s;
    transition:all 1s;
}
.display-font {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700 !important;
	color: #37474f;
}

.title-font {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400 !important;
	color: #37474f !important;
}

.text-font {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 400 !important;
	color: #607d8b !important;
}
.subtext-font {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 300 !important;
	color: #607d8b !important;
}
.wide-text {
    letter-spacing: 0.3rem;
}
.purple {
	background-color: #41295a!important;
	/* background-color: #42275a!important; */
}
/* Modal custom backdrop */
.modal-backdrop{
    opacity:0; 
    transition: opacity .2s ease;
    background-color: #000;
}
.modal-backdrop.show {
opacity: 0.9;
}
/* To prevent fixed navbar from showing up in Video fullscreen */
:-webkit-full-screen-ancestor .navbar.fixed-top {
    position: unset!important;
}

/**** Pre-Loader *****/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/preloader.gif) center no-repeat #41295a;
}
/************************/
.hidden {
    display: none !important;
}
#coverart, #coverimage {
    width: 22rem;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}
@media (max-width: 768px) { 
    #coverart, #coverimage {
        width: 18rem;
    }    
}
.img-small {
    width: 8rem !important;
}
@media (max-width: 768px) { 
    .img-small {
        width: 5rem !important;
    }    
}
svg {
   shape-rendering: auto;
}

#home {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* flex-grow: 1; */
}
#image-row {
    margin-top: 7rem;
}
@media (max-width: 768px) { 
    #image-row {
        margin-top: 5rem;
    }    
}
#chatmsg {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}
@media (max-width: 768px) { 
    #chatmsg {
        padding-left: 1.3rem !important;
        padding-right: 1.3rem !important;
    }    
}
#chatmsg .btn {
    text-transform: none;
    padding: 0.75rem 1.25rem;
}
/* drawing the left arrowhead to chatmsg */
#chatmsg .card:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #41295a;
	border-width: 0.5rem;
	margin-top: -0.5rem;
}
#chatmsg .card-body {
    padding: 0.75rem 1.25rem;
}
.arrowhead {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #37474f !important;
    /* border-right-color: #607d8b !important; */
}
.mymsg {
    max-width: 75%;
}
#chatmsg .audiolink {
    font-weight: bold;
    text-decoration: underline;
}
.mymsg .card, #chatmsg a {
    -webkit-animation-duration: 0.1s;
    -moz-animation-duration: 0.1s;
    -o-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
@media (max-width: 768px) { 
    #chatmsg {
        width: 90% !important;
    }   
    .mymsg {
        max-width: 95% !important;
    } 
    #chatmsg .card:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #41295a;
        border-width: 0.3rem;
        margin-top: -0.5rem;
    }
}
#blog-header {
	background-color: #FAFAFA;
    padding-top: 8rem;
    margin-bottom: 0;
    box-shadow: none;
}
#blog img {
    height: 13rem;
    width: 100%;
    object-fit: cover;
}

/* #buglelogo {
    max-width: 50% !important;
} */
/**/
footer i {
    font-size: 1.6rem;
    color: #fafafa;
}
nav i {
    color: #fafafa;
}
/********* Floating action button ******************/
.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}
.btn-floating {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    padding: 0;
    background-color: #a6c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: .3s;
    margin: 10px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-floating, .btn-floating i {
    color: #fafafa;
    display: inline-block;
    line-height: 37px;
}
.btn-floating.btn-large i {
    line-height: 55.5px;
}
.btn-floating i {
    width: inherit;
    text-align: center;
    font-size: 1.6rem;
}
/****************