/*
Importing the font families
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/

/* @import url('https://fonts.googleapis.com/css?family=Nunito:400'); */
@font-face {
	font-family: "Nunito";
	src: local(Nunito Regular), url("../font/nunito/Nunito-Regular.ttf");
	src: url("../font/nunito/Nunito-Regular.ttf") format("truetype");
	font-weight: 400; 
}
@font-face {
	font-family: "Nunito";
	src: local(Nunito Light), url("../font/nunito/Nunito-Light.ttf");
	src: url("../font/nunito/Nunito-Light.ttf") format("truetype");
	font-weight: 300; 
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.bg {
    background: #fafafa url('../img/bg-mesh.png') center center no-repeat !important;	
    /* background-blend-mode: normal; */
}
.bg-purpler {
    background: #41295a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg,#2F0743, #41295a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #2F0743 #41295a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #2F0743 #41295a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #2F0743 #41295a); /* Standard syntax */
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition:all .1s;
    transition:all .1s;
}
.display-font {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700 !important;
	color: #37474f;
}

.title-font {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400 !important;
	color: #37474f !important;
}

.text-font {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 400 !important;
	color: #607d8b !important;
}
.subtext-font {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 300 !important;
	color: #607d8b !important;
}
.wide-text {
    letter-spacing: 0.3rem;
}
.purple {
	background-color: #41295a!important;
	/* background-color: #42275a!important; */
}

/**** Pre-Loader *****/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/preloader.gif) center no-repeat #41295a;
}
/************************/

#coverart, #coverimage {
    width: 22rem;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}
@media (max-width: 768px) { 
    #coverart, #coverimage {
        width: 18rem;
    }    
}
.img-small {
    width: 8rem !important;
}
@media (max-width: 768px) { 
    .img-small {
        width: 5rem !important;
    }    
}
svg {
   shape-rendering: auto;
}

#home {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* flex-grow: 1; */
}
#image-row {
    margin-top: 7rem;
}
@media (max-width: 768px) { 
    #image-row {
        margin-top: 5rem;
    }    
}
footer i {
    font-size: 1.6rem;
    color: #fafafa;
}
nav i {
    color: #fafafa;
}
/********* Floating action button ******************/
.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}
.btn-floating {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    padding: 0;
    background-color: #a6c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: .3s;
    margin: 10px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-floating, .btn-floating i {
    color: #fafafa;
    display: inline-block;
    line-height: 37px;
}
.btn-floating.btn-large i {
    line-height: 55.5px;
}
.btn-floating i {
    width: inherit;
    text-align: center;
    font-size: 1.6rem;
}
/****************