[submodule "projects/36daysoftype2018"]
	path = projects/36daysoftype2018
	url = https://github.com/pkd2512/36daysoftype2018.git
[submodule "projects/nas-dataviz"]
	path = projects/nas-dataviz
	url = https://github.com/pkd2512/nas-dataviz.git
[submodule "projects/global-climate-dataviz"]
	path = projects/global-climate-dataviz
	url = https://github.com/pkd2512/global-climate-dataviz.git
