
#cover {
    min-height: 100vh;    
    overflow-y: auto;
    background: #41295a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg,#2F0743, #41295a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #2F0743 #41295a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #2F0743 #41295a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #2F0743 #41295a); /* Standard syntax */
    /* background: linear-gradient(0deg, rgba(47,7,67,0.8), rgba(65,41,90,0.8)), url("https://www.transparenttextures.com/patterns/fabric-of-squares.png"), center no-repeat; */ /* Standard syntax */
    /* background-blend-mode: overlay; */
}
#cover .row-cover {
    min-height: 80%;
    margin-top: 10rem;
}
#cover .title{
    color: #fafafa !important;
}
#cover hr {
    width: 5rem;
    border-color: #fafafa;
}
.lead {
    line-height: 1.618;
}
i {
    color: #6f42c1;
    /* color: #512da8; */
}
.parallax {
    background-image: url('images/hero.jpg');
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#top {
    bottom: 4rem;
    right: 4rem;
    display: none;
}
#process {
    background: #ffffff;
}
.greengrad {
    background: -webkit-linear-gradient(0deg,#45ada8, #59C9A5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #45ada8 #59C9A5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #45ada8 #59C9A5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #45ada8 #59C9A5); /* Standard syntax */
}

#map {
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    margin: 0!important;
    z-index: 1;
}
#features {
    height: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#features::-webkit-scrollbar {
    display: none;
}
.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    position: relative!important;
}
.mapboxgl-ctrl {
    clear: none;
}
@media only screen and (max-width: 768px) {
    #map {
        height: 50vh;
        position: sticky;
        top: 0;
        bottom: 0;
        margin: 0!important;
        z-index: 1;
    }
}
kbd i {
    color: #ffffff;
}
.kbdbg {
    background-color: #607d8b;
}
/* .view {
    overflow: hidden;
    position: relative;
    cursor: default;
} */